# dependencies
node_modules/
client/build/
server/node_modules/

# environment / secrets
*.env

# logs & misc
*.log
.DS_Store
taskmaster/

# local env files
*.env*
client/src/components/.env*

# CRA build artefacts
client/public/service-worker.js

